/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1040px;
    width: calc( 100% - 30% );
    margin: 0 auto;
    margin-bottom: 40px;
}


/* Logo e menu */
header{
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
}
header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li{
    display: inline-block;
    color: white;
    padding: 0 5px;
}

header li a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 30%;
}

#menu-mobile{
    display: none;
}

/* ----------------------------------------------- */

/* TABLET HEADER  */
@media  screen and (max-width:768px) {
    #menu-mobile{
        display: block;
    }
    
    #menu-desktop{
        display: none;
    }
}

/* ------------------------------------------------ */

/* Corpo principale- Main */
/* Sezione Cards */
main{
    margin-top: 80px;
}

/* cards */
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #b5ddff;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    /* DEBUG */
    /* border: solid 1px black; */
    min-height: 200px;
}

h2{
    padding: 10px 0;
    color: #0084fd;
}

p{
    line-height: 25px;
}

.card i{
    font-size: 55px;
    color: #0084fd;
}

.card.big{
    width: calc((100% / 3) * 2 - 20px);
    display: flex;
    text-align: left;
    padding-bottom: 0;
}

.card.big img{
    width: 100%;
    padding-top: 10px;
}

.card.big a{
    text-decoration: none;
    background-color: #0084fd;
    color: white;
    padding: 10px 20px;
    border-radius: 30%;
}

.card.big i{
    margin-top: 30px;
    font-size: 10px;
    color: white;
    padding-right: 5px;
}

/* ------------------------------------------------ */

/* TABLET MAIN-CARDS */
@media screen and (max-width: 768px) {
    .card.big{
        display: block;
    }
    
}


/* SMARTPHONE MAIN-CARDS */
@media screen and (max-width: 480px) {
    .cards{
        display: block;
    }

    .card{
        width: 100%;
    }

    .card.big{
        width: 100%;
    }
}

/* ------------------------------------------------ */

/* Sezione Planning */
.violet{
    background-color: #9593e6;
    min-height: 500px;
    margin-bottom: 40px;
}

.violet .container{
    height: 100%;

}

.strategic-planning{
    display: flex;
    margin: 0px 120px;
    height: 100%;
    align-items: end;
    padding-bottom: 25px;
}

#strategic{
    padding: 30px;
}

#strategic h2{
    color: white;
}

#strategic p{
    color: white;
}

#strategic img{
    width: 55%;
}

#app{
    background-color: white;
    border-radius: 10%;
    text-align: center;
    padding: 30px;
}

#app h3{
    padding: 10px 0;
}

#app img{
    width: 40%;
}

#app p{
    margin-bottom: 30px;
}

#app a{
    background-color: #9593e6;
    color: black;
    border-radius: 100%;
    padding: 10px;
}

/* ----------------------------------------------- */
/* MAIN TABLET-PLANNING */
@media screen and (max-width: 768px) {
   .strategic-planning{
    display: block;  
    margin: 0 auto;  
   }   
}
/* ------------------------------------------------ */

/* Sezione Testimonials */
/* Parte superiore */
#testimonials{
    text-align: center;
}

#testimonials h3, h1, p{
    padding-bottom: 10px;
}

#testimonials h1{
    color: #9593e6;
    font-size: 30px;
}

/* Parte con Cards */
.test-cards{
    display: flex;
    align-items: center;
    background-color: #9593e6;
    min-height: 120px;
    border-radius: 10%;
    margin-top: 20px;
    padding: 10px;
}


.foto img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    padding: 10px;
}

.article article{
    color: white;
}

.article i{
    padding: 0 5px;
}

.name{
    color: white;
    padding-top: 20px;
}

/* --------------------------------------------------------------- */
/* SMARTPHONE MAIN-CARDS */
@media screen and (max-width: 480px){
    .test-cards{
        display: block;
        text-align: center;
    }
}
/* --------------------------------------------------------------- */

/* Parte con Benefits */
.cards-ben{
    display: flex;
    flex-wrap: wrap;
}
.card-benefits{
    background-color:white;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    border-radius: 5%;
    padding: 20px;
    /* DEBUG */
    /* border: solid 1px black; */
    min-height: 200px;
}

.benefits{
    color: white;
    text-align: center;
    padding: 20px 0;
}

.card-benefits h1{
    font-size: 40px;
    color: #9593e6;
}

.card-benefits h3{
    color: #9593e6;
    padding-bottom: 10px;
}

.card-benefits p{
    margin-bottom: 10px;
}

.card-benefits a{
    text-decoration: none;
    color: white;
    background-color: #9593e6;
    padding: 10px 20px;
    border-radius: 30%;
}

/* -------------------------------------------------------------- */
/* TABLET-MAIN BENEFITS */
@media screen and (max-width: 768px) {
    /* .cards-ben{
        display: block;
    } */

    .card-benefits{
        width: calc(100% / 2 - 20px);
    }