/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}


/* Logo e menu */
header{
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
}
header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li{
    display: inline-block;
    color: white;
    padding: 0 5px;
}

header li a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 30%;
}

#menu-mobile{
    display: none;
}

/* ----------------------------------------------- */

/* TABLET HEADER  */
@media  screen and (max-width:480px) {
    #menu-mobile{
        display: block;
    }
    
    #menu-desktop{
        display: none;
    }
}

/* ------------------------------------------------ */

/* Corpo principale- Main */
main{
    margin-top: 80px;
}

/* cards */
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #b5ddff;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
    /* DEBUG */
    /* border: solid 1px black; */
    min-height: 200px;
}

.card h2{
    padding: 10px 0;
    color: #0084fd;
}

.card p{
    line-height: 25px;
}

.card i{
    font-size: 55px;
    color: #0084fd;
}

.card.big{
    width: calc((100% / 3) * 2 - 20px);
    display: flex;
    text-align: left;
    padding-bottom: 0;
}

.card.big img{
    width: 100%;
    padding-top: 10px;
}

.card.big a{
    text-decoration: none;
    background-color: #0084fd;
    color: white;
    padding: 10px 20px;
    border-radius: 30%;
}

.card.big i{
    margin-top: 30px;
    font-size: 10px;
    color: white;
    padding-right: 5px;
}
